{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register New User - Admin{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Register New User</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.username|as_crispy_field }}
                                {{ form.email|as_crispy_field }}
                                {{ form.first_name|as_crispy_field }}
                                {{ form.last_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.password1|as_crispy_field }}
                                {{ form.password2|as_crispy_field }}
                                {{ form.role|as_crispy_field }}
                            </div>
                        </div>
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-user-plus me-2"></i>Create User
                            </button>
                            <a href="{% url 'user_list' %}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left me-2"></i>Back to User List
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 